body{text-align: center;
font-family: Arial;}

h1{color: blue; font-size: 30px;}

ul {color: lightblue; font-family: Verdana;
    line-height: 30px; list-style-type: none; }

li::before{ content: "😻";
    padding: 10px;}

img{ height: 50px; width: 50px;}
